body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

video {
  z-index: 9999;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RowVideoFrame {
  height: 100vh;
  background-color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.CamBtn {
  min-height: 20vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.BtnRadius {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
}

.hidden {
  display: none;
}

.RecordedVideoImgFrame {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 20px;
}

.BtnSubmit {
  width: 70px;
  height: 70px;
  padding: 15px;
  color: white;
  font-weight: 600;
}

.container-fluid {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

.timer {
  z-index: 99999;
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: white;
}

.row {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

@media screen and (orientation: landscape) {
  .RowVideoFrame {
      height: 100vh;
  }
  .ColVideoLand {
      width: 80%;
  }
  .colbtnLand {
      width: 20%;
  }
  .CamBtn {
      height: 100vh;
  }
}

.loader {
  border: 5px solid #ffffff4f;
  border-radius: 50%;
  border-top: 5px solid #ffffff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
